# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=vanguard_db

# InfluxDB
INFLUX_USER=admin
INFLUX_PASSWORD=password
INFLUX_TOKEN=my-super-secret-token-vanguard-2024
INFLUX_ORG=GT-Originals
INFLUX_BUCKET=vanguard_telemetry

# MQTT
BROKER_URL=mqtt://mosquitto:1883

# Authentication
BETTER_AUTH_SECRET=my-secret-key-change-in-production-min-32-chars
BETTER_AUTH_URL=http://localhost:3000

# Ports
WEB_PORT=3000
API_PORT=3001
